In [15]:
import pandas as pd

data = pd.read_csv('data/telco.csv')
data.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,...,confer,ebill,loglong,logtoll,logequi,logcard,logwire,lninc,custcat,churn
0,2,13,44,1,9,64.0,4,5,0.0,0,...,0,0,1.308333,NaN,NaN,2.014903,NaN,4.158883,1,1
1,3,11,33,1,7,136.0,5,5,0.0,0,...,1,0,1.481605,3.032546,NaN,2.724580,3.575151,4.912655,4,1
2,3,68,52,1,24,116.0,1,29,0.0,1,...,1,0,2.898671,2.890372,NaN,3.409496,NaN,4.753590,3,0
3,2,33,33,0,12,33.0,2,0,0.0,1,...,0,0,2.246015,NaN,NaN,NaN,NaN,3.496508,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,...,1,0,1.840550,NaN,NaN,NaN,NaN,3.401197,3,0

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 42 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   region    1000 non-null   int64
 1   tenure    1000 non-null   int64
 2   age       1000 non-null   int64
 3   marital   1000 non-null   int64
 4   address   1000 non-null   int64
 5   income    1000 non-null   float64
 6   ed        1000 non-null   int64
 7   employ    1000 non-null   int64
 8   retire    1000 non-null   float64
 9   gender    1000 non-null   int64
 10  reside    1000 non-null   int64
 11  tollfree  1000 non-null   int64
 12  equip     1000 non-null   int64
 13  callcard  1000 non-null   int64
 14  wireless  1000 non-null   int64
 15  longmon   1000 non-null   float64
 16  tollmon   1000 non-null   float64
 17  equipmon  1000 non-null   float64
 18  cardmon   1000 non-null   float64
 19  wiremon   1000 non-null   float64
 20  longten   1000 non-null   float64
 21  tollten   1000 non-null   float64
 22  equipten  1000 non-null   float64
 23  cardten   1000 non-null   float64
 24  wireten   1000 non-null   float64
 25  multline  1000 non-null   int64
 26  voice     1000 non-null   int64
 27  pager     1000 non-null   int64
 28  internet  1000 non-null   int64
 29  callid    1000 non-null   int64
 30  callwait  1000 non-null   int64
 31  forward   1000 non-null   int64
 32  confer    1000 non-null   int64
 33  ebill     1000 non-null   int64
 34  loglong   1000 non-null   float64
 35  logtoll   475 non-null    float64
 36  logequi   386 non-null    float64
 37  logcard   678 non-null    float64
 38  logwire   296 non-null    float64
 39  lninc     1000 non-null   float64
 40  custcat   1000 non-null   int64
 41  churn     1000 non-null   int64
dtypes: float64(18), int64(24)
memory usage: 328.2 KB

In [17]:
data.describe()
# Logtoll, Logequi, Logcard, Logwire 存在数据缺失

,region,tenure,age,marital,address,income,ed,employ,retire,gender,...,confer,ebill,loglong,logtoll,logequi,logcard,logwire,lninc,custcat,churn
count,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,475.000000,386.000000,678.000000,296.000000,1000.000000,1000.000000,1000.000000
mean,2.0220,35.526000,41.684000,0.495000,11.551000,77.535000,2.671000,10.987000,0.047000,0.517000,...,0.502000,0.371000,2.182110,3.239705,3.568092,2.854209,3.598296,3.957203,2.487000,0.274000
std,0.8162,21.359812,12.558816,0.500225,10.086681,107.044165,1.222397,10.082087,0.211745,0.499961,...,0.500246,0.483314,0.734552,0.413813,0.277556,0.557286,0.367286,0.803754,1.120306,0.446232
min,1.0000,1.000000,18.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.105361,1.749200,2.734368,1.011601,2.701361,2.197225,1.000000,0.000000
25%,1.0000,17.000000,32.000000,0.000000,3.000000,29.000000,2.000000,3.000000,0.000000,0.000000,...,0.000000,0.000000,1.648659,2.970414,3.367726,2.463853,3.333543,3.367296,1.000000,0.000000
50%,2.0000,34.000000,40.000000,0.000000,9.000000,47.000000,3.000000,8.000000,0.000000,1.000000,...,1.000000,0.000000,2.142999,3.208825,3.572344,2.847812,3.594569,3.850148,3.000000,0.000000
75%,3.0000,54.000000,51.000000,1.000000,18.000000,83.000000,4.000000,17.000000,0.000000,1.000000,...,1.000000,1.000000,2.668095,3.488903,3.757414,3.208825,3.861780,4.418841,3.000000,1.000000
max,3.0000,72.000000,77.000000,1.000000,55.000000,1668.000000,5.000000,47.000000,1.000000,1.000000,...,1.000000,1.000000,4.604670,5.153292,4.352855,4.693639,4.718052,7.419381,4.000000,1.000000

In [18]:
telco = data.copy()

# 使用中位数填充
for field in ['logtoll', 'logequi', 'logcard', 'logwire']:
    median = telco[field].median()
    telco[field].fillna(median, inplace=True)
telco.describe()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,...,confer,ebill,loglong,logtoll,logequi,logcard,logwire,lninc,custcat,churn
count,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.0220,35.526000,41.684000,0.495000,11.551000,77.535000,2.671000,10.987000,0.047000,0.517000,...,0.502000,0.371000,2.182110,3.223493,3.570703,2.852149,3.595672,3.957203,2.487000,0.274000
std,0.8162,21.359812,12.558816,0.500225,10.086681,107.044165,1.222397,10.082087,0.211745,0.499961,...,0.500246,0.483314,0.734552,0.285461,0.172318,0.458774,0.199594,0.803754,1.120306,0.446232
min,1.0000,1.000000,18.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.105361,1.749200,2.734368,1.011601,2.701361,2.197225,1.000000,0.000000
25%,1.0000,17.000000,32.000000,0.000000,3.000000,29.000000,2.000000,3.000000,0.000000,0.000000,...,0.000000,0.000000,1.648659,3.208825,3.572344,2.674149,3.594569,3.367296,1.000000,0.000000
50%,2.0000,34.000000,40.000000,0.000000,9.000000,47.000000,3.000000,8.000000,0.000000,1.000000,...,1.000000,0.000000,2.142999,3.208825,3.572344,2.847812,3.594569,3.850148,3.000000,0.000000
75%,3.0000,54.000000,51.000000,1.000000,18.000000,83.000000,4.000000,17.000000,0.000000,1.000000,...,1.000000,1.000000,2.668095,3.208825,3.572344,3.020425,3.594569,4.418841,3.000000,1.000000
max,3.0000,72.000000,77.000000,1.000000,55.000000,1668.000000,5.000000,47.000000,1.000000,1.000000,...,1.000000,1.000000,4.604670,5.153292,4.352855,4.693639,4.718052,7.419381,4.000000,1.000000

In [19]:
# 保存数据
telco.to_csv('data/telcoPreprocess.csv', index=False)